body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff0000;
}
header{
    background-color: #c96f6f;
    padding: 20px;
    text-align: center;
}
nav{
    margin-top:15px;
}
nav a{
    margin-right: 15px;
}
nav a:hover{
    color: #ff0000;
    background-color: #c96f6f;
}

section{
    background-color: #4a5339;
    border:1px solid #6f75c9;
}
section h1{
    color: #c96f6f;
    text-align: center;
}
section h2{
    color: #c96f6f;
}

li{
    color: #9fd694;
}

footer{
    background-color: #cf3b3b;
    padding: 20px;
    text-align: center;
}

.page-image {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.page-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #cccccc;
}